:root {
  --color1: #fDff0d;
  --color2: #ffffff;
  --white: #8338ec;
}




body {
  background-color: var(--color2);
  font-family: monospace;
  animation: aparition-an 2.5s;
}



.Rotator1 {
  height: 60vmin;
  pointer-events: none;
  
}

.Rotator2 {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Rotator1 {
      animation: App-logo-spin1 infinite 20s linear;
    }
    .Rotator2 {
      animation: App-logo-spin2 infinite 20s linear;
    }
  }


  @keyframes App-logo-spin1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes App-logo-spin2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  




  /*--------- nav-bar*/

  
#nav-bar
{
  
  position: fixed;
  bottom: 5%;
  right: 6%;
  z-index: 3;
  font-size: 18px;
  cursor: pointer;
  width: 50px;
  height: 45px;
  font-size: 17px;
  backdrop-filter: blur(2px) brightness(105%);

}
span{
  transition: .2s;
}
span:hover{
  cursor: pointer;
  filter: hue-rotate(-0.5turn);
  color: var(--white);
}

#nav-bar-list 
{
  z-index: 3;
  position: fixed;
  bottom: 120px;
  right: 6%;
  backdrop-filter: blur(2px) brightness(105%);
  width: 130px;
  animation: aparition-nav 1s;
  
}
ul {
  position: relative;
  float:left;
  right: 21%;
  list-style-type: none;
  text-align: right;
  font-weight: initial;
  animation: aparition-an 2s;
}
  li:hover{
    cursor: pointer;
    filter: hue-rotate(-0.5turn);
    color: var(--white);
  }
li {
  font-size: 17px;
  margin: 10px;
  font-weight: normal;
  transition: .3s;
}


/* - - - - - - - - */


@keyframes aparition-an{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes aparition-nav {
  from {
    height: 0%;
  }
  to{
    height: 122px;
  }
}